@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'PT Serif', serif;
}



/* nav */
header nav {
    display: flex;
    justify-content: center;
    /* flex-direction:row; */
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(38, 49, 54);

}

header {
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav a {
    color: #f0f0f0;
    border-radius: 1rem;
    padding: 10px;
    text-decoration: none;
    margin: 0 .5rem;
}

nav a:hover {
    color: #49bf3c;
    box-shadow: 2px 2px 5px #49bf3c;
}

nav a:active {
    box-shadow: 4px 4px 7px #49bf3c;
}

@media (max-width :426px) {
    header nav {
        flex-direction: column;
    }


    nav a {
        margin: 5px;
    }

}





/*  start the top right icons  */
#icons {
    display: flex;
    justify-content: end;
    background-color: rgb(38, 49, 54);
}

#icons img:not(#logo) {
    background-color: rgb(38, 49, 54);
    /* display: flex; */
    margin: 2rem 1rem;
    background-color: #49bf3c;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 30%;
    padding: 7px;
}

#icons img:not(#logo):active {
    box-shadow: 2px 2px 5px #49bf3c;
}

#icons img:not(#logo):hover {
    transition-property: all;
    transition-duration: 0.1s;
    transform: scale(1.2);
}
/* finish the top right icons */



#logo {
    margin: 1rem;
    margin-right: auto;
    background-color: rgb(38, 49, 54);
    width: 5rem;
    height: 5rem;
}

#logo:hover {
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(1080deg);
    width: 7rem;
    height: 7rem;
}





h1 {
    margin-right: auto;
    margin-top: 1.2rem;
    font-size: 4em;
    text-shadow: 2rem;
    color: #49bf3c;
}




/* search box */
button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #49bf3c;
}

button:active {
    transition-property: all;
    transition-duration: 0.1s;
    transform: scale(1.1);
}

input {
    /* width: auto; */
    height: 1.5rem;
}

form {
    margin: 3rem 0 0 0;
}

form:hover {
    transition-property: all;
    transition-duration: 0.3s;
    transform: scale(1.2) translateX(-10%);
}

@media (max-width :426px) {

    form {
        display: none;
    }

    h1 {
        display: none;
    }

}

/* -------finish the header------- */



h2 {
    font-size: 2.5em;
    margin: 1rem;
}

p {
    margin-left: 2rem;
    margin: 2rem;
    font-size: 1.5em;
}



/* the first image */
@media (max-width :426px){
    #first-image{
        height: 10em;
    }
}



/* Just starting? These are for you! */
#start {
    margin: 1rem;
    font-size: 1.5em;
}

/* 5image in main */
.image-card {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    margin: 0 2em;
}

.image-card img {
    width: 20%;
    height: 20%;

}

.image-card img:hover {
    transition-property: all;
    transition-duration: 0.3s;
    transform: scale(1.2);
    border: none;
    border-radius: 15px;
}


#image-card-two img {
    width: 30%;
    height: 30%;
}



/* start 4 cards in the end of page  */
.article {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin: 5% 10%;
    justify-content: center;
    /* flex-direction: row; */
    padding: 2em;
    width: 80%;
}

@media (max-width:869px){
    .article{
            flex-direction: column;
            border: none;

    }
}

.article section {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: black;
}

.article section:hover{
    transition-property: all;
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #49bf3c;}

@media (max-width:869px){
    .article section {
        width: auto;
    }
}

.article section img {
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.article section h3 {
    color: #49bf3c;
    margin-top: 2em;
    font-size: 1.2em;

}

.article section p {
    color: #49bf3c;
    margin: .70em;
    text-align: center;
}

.article section a{
    color: #f0f0f0;
    border-radius: 1rem;
    padding: 10px;
    text-decoration: none;
    margin: 0 .5rem;
}

.article section a:hover {
    color: #49bf3c;
    box-shadow: 2px 2px 5px #49bf3c;
}

.article section a:active {
    box-shadow: 4px 4px 7px #49bf3c;
}
/* finish 4 cards in the end of page  */
